@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Colors */
    --color-primary: #115cde;
    --color-secondary: #000c23;
    --color-accent: #3498db;
    --color-bg: #f3f9fd;
    --color-accent-2: #22bef9;
    --color-accent-3: #ff2674;
    --color-accent-4: #ebedfb; /* light blue */
    --color-accent-5: #edfaff; /* light teal */
    --color-accent-6: #d9ddf8; /* light purple */
    --color-accent-7: #ffeef4; /* light pink */
    --color-grey-1: #444444;
    --color-grey-2: #3a3a3a;
    --color-border: rgba(52, 152, 219, 0.15);
    --box-shadow-1: 0px 0px 10px 0px rgba(182, 204, 243, 0.5);
    /* Fonts */
    --font-open-sans: "Open Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    /* Sizes */
    --size-xs: 0.75rem; /*    12px  */
    --size-sm: 0.875rem; /*   14px  */
    --size-md: 0.938rem; /*   15px  */
    --size-base: 1rem; /*     16px  */
    --size-lg: 1.125rem; /*   18px  */
    --size-xl: 1.25rem; /*    20px  */
    --size-2xl: 1.5rem; /*    24px  */
    --size-3xl: 1.875rem; /*  30px  */
    --size-4xl: 2.25rem; /*   36px  */
    --size-5xl: 2.5rem; /*    40px  */
    --size-6xl: 3rem; /*      48px  */
    --size-7xl: 3.5rem; /*    56px  */
    --size-8xl: 4rem; /*      64px  */
    --size-9xl: 4.5rem; /*    72px  */
    --size-10xl: 6.25rem; /*  100px */
    --size-11xl: 7.5rem; /*   120px */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-open-sans);
    font-size: var(--size-base);
    color: var(--color-grey-1);
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-raleway);
    color: var(--color-secondary);
    margin: 0;
}

h4 {
    font-family: var(--font-raleway);
    font-size: var(--size-lg);
    color: var(--color-secondary);
    font-weight: 600;
}

h5 {
    font-size: var(--size-base) !important;
    font-weight: 700;
}

p {
    margin: 0;
    line-height: var(--size-3xl);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
}

.btn {
    padding: var(--size-sm) var(--size-5xl);
    border-radius: var(--size-7xl);
    font-family: var(--font-inter);
    font-size: var(--size-sm);
    font-weight: 500;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-outline {
    color: var(--color-primary);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
    border-color: var(--color-primary);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: var(--size-10xl) var(--size-xl);
}

.section-heading {
    font-size: var(--size-2xl);
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: var(--size-2xl);
    position: relative;
}

.section-heading::before {
    content: "";
    width: var(--size-6xl);
    height: 2px;
    background: var(--color-accent);
    display: inline-block;
    margin: 8px var(--size-base);
}

.section-heading::after {
    content: "";
    width: var(--size-6xl);
    height: 2px;
    background: var(--color-accent);
    display: inline-block;
    margin: 8px var(--size-base);
}

.title-underline-animation {
    color: var(--color-secondary);
    display: inline;
    transition: all 0.3s ease;
    background-image: linear-gradient(
        var(--color-secondary),
        var(--color-secondary)
    );
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}
.title-underline-animation:hover {
    color: var(--color-accent);
    display: inline;
    transition: all 0.3s ease;
    background-image: linear-gradient(var(--color-accent), var(--color-accent));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

/* Navbar */
header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-sm) var(--size-5xl);
    font-family: var(--font-open-sans);
    font-weight: 500;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 8px;
}

.menu li {
    position: relative;
    padding: var(--size-base) var(--size-xs);
}

.sub-menu-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.dropdown-icon-span {
    font-size: var(--size-md);
}

.menu li a {
    color: var(--color-grey-1);
}

.menu li a:hover {
    color: var(--color-accent);
}

.sub-menu {
    list-style: none;
    text-align: left;
    width: 12.5rem; /* 200px */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 12.5rem;
    left: calc(var(--size-xl) * -1);
    z-index: 500;
    padding-left: 0px;
    background-color: white;
    /* box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2); */
    box-shadow: var(--box-shadow-1);
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

.sub-menu li {
    border-bottom: 1px solid var(--color-border);
}

.sub-menu a {
    display: flex;
    text-wrap: initial;
    width: 100%;
}

.menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    top: var(--size-7xl);
    transition: all 0.4s ease-in-out;
}

/* Banner Section */
#banner-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}
.banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner-section .container {
    padding: var(--size-10xl) var(--size-xl);
}

#banner-section p:nth-child(2) {
    max-width: 75%;
    margin: var(--size-3xl) auto;
    font-family: var(--font-inter);
}

#banner-section p:nth-child(3) {
    color: black;
    margin-bottom: var(--size-xl);
}

#banner-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-xl);
}

/* Statistics Section */
#stats-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #dbe7f9 0%, #e7f6fb 100%);
}
#stats-section .container {
    flex-direction: row;
}

.stats-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-6xl);
    flex-wrap: wrap;
    padding: var(--size-6xl) var(--size-xl);
}

.stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--size-lg);
    font-family: var(--font-inter);
}

.stat-item .lucide {
    stroke-width: 1.6px;
}

.stat-icon {
    color: var(--color-primary);
    width: var(--size-4xl);
    height: var(--size-4xl);
}

.stat-item:nth-child(2) .stat-icon {
    color: var(--color-accent-2);
}

.stat-item:nth-child(4) .stat-icon {
    color: var(--color-accent-3);
}

.stat-item h2 {
    font-family: var(--font-inter);
    font-size: var(--size-5xl);
    font-weight: 500;
}

.stat-item .stat-description {
    font-size: var(--size-xl);
}

/* Experience Section */
#experience-section {
    display: flex;
    width: 100%;
    background-color: #eaf1f9;
    background-image: url(images/img.webp);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.chips-containers-wrapper {
    padding-top: var(--size-5xl);
}

.chips-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-sm);
    flex-wrap: wrap;
    padding-bottom: var(--size-lg);
}

.chip {
    background-color: white;
    padding: 6px var(--size-lg) 6px var(--size-xs);
    border-radius: var(--size-5xl);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chip-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 50%;
    border: 0.4px solid rgba(0, 0, 0, 0.1);
}

.chips-container:nth-child(1) .chip:nth-child(1) .chip-icon-wrapper {
    background-color: var(--color-accent-4);
}

.chips-container:nth-child(1) .chip:nth-child(2) .chip-icon-wrapper {
    background-color: var(--color-accent-5);
}

.chips-container:nth-child(1) .chip:nth-child(3) .chip-icon-wrapper {
    background-color: var(--color-accent-4);
}

.chips-container:nth-child(1) .chip:nth-child(4) .chip-icon-wrapper {
    background-color: var(--color-accent-6);
}

.chips-container:nth-child(1) .chip:nth-child(5) .chip-icon-wrapper {
    background-color: var(--color-accent-4);
}

.chips-container:nth-child(2) .chip:nth-child(1) .chip-icon-wrapper {
    background-color: var(--color-accent-5);
}

.chips-container:nth-child(2) .chip:nth-child(2) .chip-icon-wrapper {
    background-color: var(--color-accent-5);
}

.chips-container:nth-child(2) .chip:nth-child(3) .chip-icon-wrapper {
    background-color: var(--color-accent-4);
}

.chip-icon {
    width: var(--size-lg);
    height: var(--size-lg);
}

.chips-container:nth-child(1) .chip:nth-child(1) .chip-icon {
    color: var(--color-primary);
}

.chips-container:nth-child(1) .chip:nth-child(2) .chip-icon {
    color: var(--color-accent-2);
}

.chips-container:nth-child(1) .chip:nth-child(3) .chip-icon {
    color: var(--color-primary);
}

.chips-container:nth-child(1) .chip:nth-child(4) .chip-icon {
    color: var(--color-primary);
}

.chips-container:nth-child(1) .chip:nth-child(5) .chip-icon {
    color: var(--color-primary);
}

.chips-container:nth-child(2) .chip:nth-child(1) .chip-icon {
    color: var(--color-accent-2);
}

.chips-container:nth-child(2) .chip:nth-child(2) .chip-icon {
    color: var(--color-accent-2);
}

.chips-container:nth-child(2) .chip:nth-child(3) .chip-icon {
    color: var(--color-primary);
}

.chip-text {
    font-family: var(--font-inter);
    font-size: var(--size-base);
    font-weight: 600;
}

/* Differences Section */
#differences-section {
    padding-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.differences-section-sub-text-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--size-2xl);
    text-align: left;
}

.differences-section-sub-text-wrapper div {
    flex: 1;
}

.differences-section-sub-text:nth-child(2) {
    padding-top: var(--size-base);
}

.differences-parent-wrapper {
    padding-top: var(--size-7xl);
    display: flex;
    gap: var(--size-2xl);
    text-align: left;
}

.differences-img-wrapper {
    padding: 0 var(--size-xl);
}

.differences-parent-tiles-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-5xl);
}

.differences-tiles-wrapper {
    display: flex;
    gap: var(--size-2xl);
}

.tile {
    flex: 1;
}

.tile-title {
    padding-bottom: 10px;
}

.tile-description {
    font-size: var(--size-sm);
    line-height: calc(var(--size-2xl) + 2px);
}

/* Services Section */
.services-section {
    background-color: var(--color-bg);
    display: flex;
}

.service-tiles-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--size-2xl);
}

.service-tiles-wrapper:nth-of-type(1) {
    padding: var(--size-2xl) 0;
}

.service-tiles-wrapper:nth-of-type(1) .service-tile {
    flex: 1;
}

.service-tiles-wrapper a {
    color: var(--color-grey-1);
}

.service-tiles-wrapper a:hover {
    color: var(--color-grey-1);
}

.service-tile {
    background-color: white;
    padding: var(--size-2xl);
    border-radius: 6px;
    text-align: left;
}

.service-tile:hover {
    box-shadow: var(--box-shadow-1);
}

.service-tile ul {
    padding-left: 0;
}

.service-list li {
    font-size: calc(var(--size-xs) + 1px);
    line-height: var(--size-2xl);
}

.service-icon-wrapper {
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: var(--size-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-tile:nth-child(1) .service-icon-wrapper {
    background-color: var(--color-accent-4);
    color: var(--color-primary);
}
.service-tile:nth-child(2) .service-icon-wrapper {
    background-color: var(--color-accent-5);
    color: var(--color-accent-2);
}
.service-tile:nth-child(3) .service-icon-wrapper {
    background-color: var(--color-accent-4);
    color: var(--color-primary);
}
.service-tile:nth-child(4) .service-icon-wrapper {
    background-color: var(--color-accent-6);
    color: var(--color-primary);
}
.service-tile:nth-child(5) .service-icon-wrapper {
    background-color: var(--color-accent-6);
    color: var(--color-primary);
}
.service-tile:nth-child(6) .service-icon-wrapper {
    background-color: var(--color-accent-5);
    color: var(--color-accent-2);
}

.service-icon {
    width: var(--size-4xl);
    height: var(--size-4xl);
}

.service-icon-wrapper .lucide {
    stroke-width: 1.2px;
}

/* Specialized Profile Section */
.specialized-profiles-section {
    display: flex;
}

.specialized-profiles-tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: var(--size-5xl);
}

.specialized-tile {
    padding: var(--size-2xl);
    border: 1px solid #e8ecf1;
    border-width: 0 1px 1px 0;
}

.specialized-tile:nth-child(4n) {
    border-right: 0;
}
.specialized-tile:nth-child(n + 9) {
    border-bottom: 0;
}

.specialized-icon-wrapper-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.specialized-icon-wrapper {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 3px;
}

.specialized-tile:nth-child(1) .specialized-icon-wrapper {
    background-color: var(--color-accent-4);
    color: var(--color-primary);
}
.specialized-tile:nth-child(2) .specialized-icon-wrapper {
    background-color: var(--color-accent-5);
    color: var(--color-accent-2);
}
.specialized-tile:nth-child(2) .specialized-icon-wrapper {
    background-color: var(--color-accent-5);
    color: var(--color-accent-2);
}
.specialized-tile:nth-child(3) .specialized-icon-wrapper {
    background-color: var(--color-accent-7);
    color: var(--color-accent-3);
}
.specialized-tile:nth-child(4) .specialized-icon-wrapper {
    background-color: var(--color-accent-6);
    color: var(--color-accent);
}
.specialized-tile:nth-child(5) .specialized-icon-wrapper {
    background-color: var(--color-accent-7);
    color: var(--color-accent-3);
}
.specialized-tile:nth-child(6) .specialized-icon-wrapper {
    background-color: var(--color-accent-6);
    color: var(--color-accent);
}
.specialized-tile:nth-child(7) .specialized-icon-wrapper {
    background-color: var(--color-accent-4);
    color: var(--color-primary);
}
.specialized-tile:nth-child(8) .specialized-icon-wrapper {
    background-color: var(--color-accent-5);
    color: var(--color-accent-2);
}
.specialized-tile:nth-child(9) .specialized-icon-wrapper {
    background-color: var(--color-accent-4);
    color: var(--color-primary);
}
.specialized-tile:nth-child(10) .specialized-icon-wrapper {
    background-color: var(--color-accent-5);
    color: var(--color-accent-2);
}
.specialized-tile:nth-child(11) .specialized-icon-wrapper {
    background-color: var(--color-accent-6);
    color: var(--color-accent);
}
.specialized-tile:nth-child(12) .specialized-icon-wrapper {
    background-color: var(--color-accent-7);
    color: var(--color-accent-3);
}

.specialized-icon-wrapper .lucide {
    stroke-width: 1.5px;
}

.specialized-title {
    font-family: var(--font-raleway);
    font-size: var(--size-sm);
    font-weight: 700;
    padding-top: var(--size-md);
}

/* Case Study Section */
.case-study {
    display: flex;
    padding-top: 0px;
}
.case-study .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.case-study-tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-base);
    padding-top: var(--size-5xl);
}
.case-study-tile {
    display: flex;
    gap: var(--size-2xl);
    background-color: white;
    padding: var(--size-2xl);
    box-shadow: var(--box-shadow-1);
    border-radius: 4px;
}

.case-study-text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.case-study-img-wrapper {
    max-width: calc(var(--size-11xl) + 60px);
    overflow: hidden;
}

.case-study-image {
    width: 100%;
    height: auto;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    display: block;
}

.case-study-image:hover {
    transform: scale(1.08);
}

.case-study-title a {
    display: inline;
    color: var(--color-secondary);
    transition: all 0.3s ease;
    background-image: linear-gradient(
        var(--color-secondary),
        var(--color-secondary)
    );
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}

.case-study-title a:hover {
    color: var(--color-accent);
    display: inline;
    transition: all 0.3s ease;
    background-image: linear-gradient(var(--color-accent), var(--color-accent));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

.case-study-description {
    padding-top: var(--size-base);
    font-size: var(--size-sm);
    line-height: var(--size-2xl);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Blogs section */
.blogs-section {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
}

.blog-post-wrapper {
    padding-top: var(--size-2xl);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: var(--size-4xl);
}
.blog-post {
    background-color: white;
    box-shadow: var(--box-shadow-1);
    padding: var(--size-base);
    border-radius: 4px;
    text-align: left;
}
.blog-post-image-wrapper {
    width: 250px;
    height: calc(var(--size-11xl) + 40px);
    overflow: hidden;
}

.blog-post-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}
.blog-post-image:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(0.99);
}

.blog-post-title {
    font-family: var(--font-inter);
    font-weight: 400;
    padding-top: var(--size-base);
    padding-bottom: var(--size-xl);
}
.author {
    font-size: calc(var(--size-xs) + 1px);
    color: gray;
}
.author a {
    color: gray;
}
.author a:hover {
    color: var(--color-accent);
}

/* News and Events section */
.news-events-section {
    display: flex;
}
.news-events-section .container {
    padding-top: 0px;
}
.news-event-tiles-wrapper {
    padding-top: var(--size-2xl);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: var(--size-4xl);
}
.news-event-tile {
    display: flex;
    flex-direction: column;
    gap: var(--size-xl);
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
}
.news-event-image-wrapper {
    display: block;
    width: 300px;
    height: calc(var(--size-11xl) + 60px);
    overflow: hidden;
}
.news-event-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}
.news-event-image:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(0.99);
}
.news-event-title {
    margin: 0 var(--size-xs) var(--size-xs);
    font-weight: 600;
}

/* Footer */
footer {
    display: flex;
    background-color: transparent;
    background-image: linear-gradient(180deg, #ffffff 0%, #e9f0f7 100%);
    font-size: var(--size-xs);
    text-align: left;
    font-family: var(--font-inter);
    color: #6c757d;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: var(--size-4xl);
    flex-wrap: wrap;
}

.footer-container > div:nth-child(1) {
    flex: 1.5;
}
.footer-container > div:nth-child(2) {
    flex: 0.5;
}
.footer-container > div:nth-child(3) {
    flex: 1;
}
.footer-container > div:nth-child(4) {
    flex: 1;
}
#logo-footer {
    width: 160px;
    padding-bottom: var(--size-xs);
}
.footer-info-text {
    text-align: justify;
    line-height: var(--size-2xl);
    padding-bottom: var(--size-2xl);
}
.social-icons-wrapper {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
    padding-top: var(--size-base);
}

.social-icon-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    color: white;
    background-color: var(--color-primary);
    border-radius: 3px;
}
.social-icon-container a {
    width: var(--size-lg);
    height: var(--size-lg);
}

.footer-container ul {
    padding-left: 0px;
}
.footer-quick-links-list li {
    font-size: 13px;
    padding-bottom: var(--size-lg);
}
.footer-quick-links-list li a {
    color: #6c757d;
}
.footer-quick-links-list li a:hover {
    color: var(--color-accent);
}
.footer-services-list li {
    font-size: 13px;
    padding-bottom: var(--size-lg);
}
.footer-services-list li a {
    color: #6c757d;
}
.footer-services-list li a:hover {
    color: var(--color-accent);
}

.copyright-wrapper {
    padding-top: var(--size-5xl);
    text-align: center;
    color: var(--color-grey-1);
}
.footer-find-us-wrapper .footer-heading {
    padding-bottom: var(--size-md);
}
.contact-links {
    color: #6c757d;
}
.contact-links-wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: var(--size-lg);
    padding-bottom: 8px;
}
.contact-links-wrapper a {
    line-height: var(--size-xl);
}

.contact-link-icon {
    width: var(--size-base);
    height: var(--size-base);
}
.footer-form-title {
    color: var(--color-secondary);
}

.input-container {
    display: flex;
    align-items: center;
    border-radius: 4px;
    width: fit-content;
    position: relative;
}

.input-container input {
    padding: 12px 60px 12px 10px;
    border: 1px solid #6c757d;
    border-radius: 5px;
    font-size: var(--size-sm);
}
.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 88%;
    width: var(--size-base);
    height: var(--size-base);
}

/* Small devices */
@media only screen and (max-width: 640px) {
    h1 {
        font-size: var(--size-5xl);
    }
    p {
        font-size: var(--size-sm);
    }
    .container {
        padding: var(--size-6xl) var(--size-base);
    }
    .section-heading::before {
        position: absolute;
        left: 45%;
        top: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: var(--size-8xl);
    }
    .section-heading::after {
        position: absolute;
        left: 45%;
        top: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: var(--size-8xl);
    }

    /* Navbar */
    nav {
        padding: var(--size-sm) var(--size-md);
    }
    .menu {
        display: none;
    }

    /* Banner Section */
    #banner-section {
        padding: 0;
    }
    #banner-section .container {
        padding: var(--size-7xl) 0px;
    }

    #banner-section p:nth-child(2) {
        max-width: 100%;
        padding: 0 5px;
        font-size: var(--size-md);
    }
    /* Stats Section */
    .stats-wrapper {
        justify-content: center;
        gap: var(--size-3xl);
    }
    .stat-item {
        gap: var(--size-base);
    }
    .stat-icon {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }
    .stat-item h2 {
        font-size: var(--size-3xl);
    }
    .stat-item .stat-description {
        font-size: var(--size-lg);
    }
    /* Experience Section */
    .chips-container {
        gap: 6px;
        padding-bottom: 6px;
    }
    .chip {
        padding: 4px var(--size-base) 4px 8px;
        gap: 6px;
    }
    .chip-icon {
        width: var(--size-base);
        height: var(--size-base);
    }

    .chip-text {
        font-size: var(--size-sm);
    }
    /* Differences section */
    #differences-section .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .differences-section-sub-text-wrapper {
        flex-direction: column;
    }
    .differences-section-sub-text-wrapper p {
        padding-right: var(--size-base);
        padding-left: var(--size-base);
    }
    .differences-img-wrapper {
        padding: 0 var(--size-3xl);
    }
    .differences-img-wrapper img {
        width: 100%;
    }
    .differences-parent-wrapper {
        flex-direction: column;
    }
    .differences-tiles-wrapper {
        flex-direction: column;
        padding: 0 var(--size-base);
    }
    /* Services Section */
    .service-tiles-wrapper {
        flex-direction: column;
    }
    /* Specialized Profiles Section*/
    .specialized-profiles-section .container {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0;
    }
    .specialized-section-description {
        padding-left: var(--size-base);
        padding-right: var(--size-base);
    }
    .specialized-profiles-tiles-wrapper {
        grid-template-columns: repeat(1, 1fr);
        padding-left: var(--size-base);
        padding-right: var(--size-base);
    }
    .specialized-tile {
        border-width: 0 0 1px 0 !important;
    }
    .specialized-tile:nth-child(4n) {
        border-bottom: 1px solid #e8ecf1 !important;
    }
    .specialized-tile:nth-child(n + 9) {
        border-bottom: 1px solid #e8ecf1 !important;
    }
    .specialized-tile:last-child {
        border-bottom: 0 !important;
    }
    /* Case Study Section */
    .case-study {
        display: flex;
    }
    .case-study-tiles-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .case-study-tile {
        flex-direction: column;
        align-items: center;
    }
    /* Blogs Section */
    .blog-post-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-post-image-wrapper {
        width: 100%;
        height: calc(var(--size-11xl) + 60px);
    }
    /* News and Events Section */
    .news-event-tiles-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .news-event-image-wrapper {
        width: 100%;
        height: calc(var(--size-11xl) + 80px);
    }
    /* Footer */
    .footer-container p {
        font-size: var(--size-xs);
    }
    .footer-container {
        flex-direction: column;
        gap: var(--size-lg);
    }
    #logo-footer {
        width: var(--size-11xl);
    }
    .footer-quick-links-list li {
        padding-bottom: var(--size-xs);
    }
    .footer-services-list li {
        padding-bottom: var(--size-xs);
    }
    .copyright-wrapper p {
        font-size: var(--size-xs);
        line-height: 1.2rem;
    }
}

/* Tablet devices */
@media only screen and (min-width: 641px) and (max-width: 768px) {
    h1 {
        font-size: var(--size-6xl);
    }
    p {
        font-size: var(--size-sm);
    }
    .container {
        /* max-width: 728px; */
        padding: 60px 20px;
    }
    /* Banner Section */
    #banner-section p:nth-child(2) {
        max-width: 75% !important;
    }
    .menu {
        display: none;
    }

    #banner-section p:nth-child(2) {
        max-width: 100%;
        font-size: var(--size-md);
    }
    /* Stats Section */
    .stats-wrapper {
        justify-content: center;
        gap: var(--size-base);
    }
    .stat-item {
        gap: var(--size-md);
    }
    .stat-icon {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }
    .stat-item h2 {
        font-size: var(--size-3xl);
    }
    .stat-item .stat-description {
        font-size: var(--size-base);
    }

    /* Experience Section */
    .chips-containers-wrapper {
        padding-top: var(--size-4xl);
    }
    .chips-container {
        width: 100%;
        gap: var(--size-xs);
        padding-bottom: var(--size-xs);
    }
    .chip {
        padding: 5px var(--size-base) 5px 10px;
    }
    .chip-text {
        font-size: var(--size-sm);
    }
    .chip-icon {
        width: var(--size-base);
        height: var(--size-base);
    }
    /* Differences Section */
    .differences-parent-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

/* Laptop devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: var(--size-8xl);
    }
    /* .container {
        max-width: 1024px;
        padding: 100px 20px;
    } */
    /* Banner Section */

    /* Stats Section */
    .stats-wrapper {
        justify-content: center;
        gap: var(--size-2xl);
    }
    .stat-item h2 {
        font-size: var(--size-3xl);
    }
    .stat-item .stat-description {
        font-size: var(--size-lg);
    }
}

/* Large devices */
@media only screen and (min-width: 1025px) {
    h1 {
        font-size: var(--size-8xl);
    }
    /* .container {
        max-width: 1240px;
        padding: 100px 20px;
    } */
}
