@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Colors */
    --color-primary: #115cde;
    --color-secondary: #000c23;
    --color-accent: #3498db;
    --color-accent-2: #27d6ff;
    --color-accent-3: #ff2674;
    --color-accent-4: #dce7f9;
    --color-accent-5: #dff5fd;
    --color-border: rgba(52, 152, 219, 0.15);
    --color-grey-1: #444444;
    --color-grey-2: #3a3a3a;
    /* Fonts */
    --font-open-sans: "Open Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    /* Sizes */
    --size-xs: 0.75rem; /*    12px  */
    --size-sm: 0.875rem; /*   14px  */
    --size-md: 0.938rem; /*   15px  */
    --size-base: 1rem; /*     16px  */
    --size-lg: 1.125rem; /*   18px  */
    --size-xl: 1.25rem; /*    20px  */
    --size-2xl: 1.5rem; /*    24px  */
    --size-3xl: 1.875rem; /*  30px  */
    --size-4xl: 2.25rem; /*   36px  */
    --size-5xl: 2.5rem; /*    40px  */
    --size-6xl: 3rem; /*      48px  */
    --size-7xl: 3.5rem; /*    56px  */
    --size-8xl: 4rem; /*      64px  */
    --size-9xl: 4.5rem; /*    72px  */
    --size-10xl: 6.25rem; /*  100px */
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-open-sans);
    font-size: var(--size-base);
    color: var(--color-grey-1);
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-raleway);
    color: var(--color-secondary);
    margin: 0;
}

p {
    margin: 0;
    line-height: var(--size-3xl);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
}

.btn {
    padding: var(--size-sm) var(--size-5xl);
    border-radius: var(--size-7xl);
    font-family: var(--font-inter);
    font-size: var(--size-sm);
    font-weight: 500;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-outline {
    color: var(--color-primary);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
    border-color: var(--color-primary);
}

.container {
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: var(--size-8xl) var(--size-xl);
}

.section-heading {
    font-size: var(--size-2xl);
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: var(--size-2xl);
}

.section-heading::before {
    content: "";
    width: var(--size-6xl);
    height: 2px;
    background: var(--color-accent);
    display: inline-block;
    margin: 8px var(--size-base);
}

.section-heading::after {
    content: "";
    width: var(--size-6xl);
    height: 2px;
    background: var(--color-accent);
    display: inline-block;
    margin: 8px var(--size-base);
}

/* Navbar */
header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-sm) var(--size-5xl);
    font-family: var(--font-open-sans);
    font-weight: 500;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 40px;
}

.menu li {
    position: relative;
    padding: var(--size-base) var(--size-xs);
}

.sub-menu-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.dropdown-icon-span {
    font-size: var(--size-md);
}

.menu li a {
    color: var(--color-grey-1);
}

.menu li a:hover {
    color: var(--color-accent);
}

.sub-menu {
    list-style: none;
    text-align: left;
    width: 12.5rem; /* 200px */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 12.5rem;
    left: calc(var(--size-xl) * -1);
    z-index: 500;
    padding-left: 0px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

.sub-menu li {
    border-bottom: 1px solid var(--color-border);
}

.sub-menu a {
    display: flex;
    text-wrap: initial;
    width: 100%;
}

.menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    top: var(--size-7xl);
    transition: all 0.4s ease-in-out;
}

/* Banner Section */
#banner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}

#banner-section p:nth-child(2) {
    max-width: 75%;
    margin: var(--size-3xl) 0px;
    font-family: var(--font-inter);
}

#banner-section p:nth-child(3) {
    color: black;
    margin-bottom: var(--size-xl);
}

#banner-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-xl);
}

/* Statistics Section */
#stats-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #dbe7f9 0%, #e7f6fb 100%);
}

.stats-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-6xl);
    flex-wrap: wrap;
    padding: var(--size-6xl) var(--size-xl);
}

.stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--size-lg);
    font-family: var(--font-inter);
}

.stat-icon {
    color: var(--color-primary);
    width: var(--size-4xl);
    height: var(--size-4xl);
}

.stat-item:nth-child(2) .stat-icon {
    color: var(--color-accent-2);
}

.stat-item:nth-child(4) .stat-icon {
    color: var(--color-accent-3);
}

.stat-item h2 {
    font-family: var(--font-inter);
    font-size: var(--size-5xl);
    font-weight: 500;
}

.stat-item .stat-description {
    font-size: var(--size-xl);
}

/* Experience Section */
#experience-section {
    background-image: url(images/img.webp);
    background-position: center;
    background-size: cover;
}

#experience-section > div {
    padding-top: var(--size-10xl);
}

.chips-containers-wrapper {
    padding-top: var(--size-5xl);
}

.chips-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-xl);
    flex-wrap: wrap;
    padding-bottom: var(--size-xl);
}

.chip {
    background-color: white;
    padding: 6px var(--size-lg) 6px var(--size-xs);
    border-radius: var(--size-5xl);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chip-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.chips-container:nth-child(1) .chip-icon-wrapper:nth-child(1) {
    background-color: var(--color-accent-4);
}

.chips-container:nth-child(1) .chip-icon-wrapper:nth-child(2) {
    background-color: var(--color-accent-5);
}

.chip-icon {
    width: var(--size-lg);
    height: var(--size-lg);
}

/* Small devices */
@media only screen and (max-width: 640px) {
    h1 {
        font-size: var(--size-5xl);
    }
    #banner-section p:nth-child(2) {
        max-width: 100%;
        font-size: var(--size-md);
    }
    .stats-wrapper {
        justify-content: center;
        gap: var(--size-5xl);
    }
}

/* Tablet devices */
@media only screen and (min-width: 641px) and (max-width: 768px) {
    h1 {
        font-size: var(--size-5xl);
    }
    .container {
        max-width: 768px;
        padding: 20px;
    }
    #banner-section p:nth-child(2) {
        max-width: 100%;
        font-size: var(--size-md);
    }
    .stats-wrapper {
        justify-content: center;
    }
}

/* Laptop devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: var(--size-8xl);
    }
    .container {
        max-width: 1024px;
        padding: 20px;
    }
    .stats-wrapper {
        justify-content: center;
    }
}

/* Large devices */
@media only screen and (min-width: 1025px) {
    h1 {
        font-size: var(--size-8xl);
    }
    .container {
        max-width: 1240px;
    }
}
